{% extends 'base.html' %}

{% block title %}Signup - StackJourney{% endblock %}

{% block content %}
<div class="bg-gray-100 min-h-screen flex items-center justify-center">
    <div class="p-8 rounded-lg shadow-lg max-w-md w-full bg-gray-300">
        <h2 class="text-3xl font-semibold text-gray-800 mb-6 text-center">Signup</h2>
        <form method="POST" class="flex flex-col space-y-6 ">
            {% csrf_token %}
            <div class="flex flex-col space-y-2 ">
                <label for="{{ form.username.id_for_label }}" class="text-gray-600">Username</label>
                {{ form.username }}
                <p class="text-sm text-red-500 bg-gray-500">{{ form.username.errors }}</p>
            </div>
            <div class="flex flex-col space-y-2">
                <label for="{{ form.password1.id_for_label }}" class="text-gray-600">Password</label>
                {{ form.password1 }}
                <p class="text-sm text-red-500">{{ form.password1.errors }}</p>
            </div>
            <div class="flex flex-col space-y-2">
                <label for="{{ form.password2.id_for_label }}" class="text-gray-600">Confirm Password</label>
                {{ form.password2 }}
                <p class="text-sm text-red-500">{{ form.password2.errors }}</p>
            </div>
            <button 
                type="submit" 
                class="w-full bg-blue-600 text-white py-2 rounded-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400">
                Signup
            </button>
        </form>
        <div class="text-center mt-4">
            <p class="text-sm text-gray-600">Already have an account? 
                <a href="{% url 'login' %}" class="text-blue-500 hover:underline">Login</a>
            </p>
        </div>
    </div>
</div>
{% endblock %}
